<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<string>1</string>
	<key>SULastCheckTime</key>
	<date>2025-01-20T14:29:46Z</date>
	<key>allowAnyShortcut</key>
	<string>1</string>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>38</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>bottomLeft</key>
	<dict/>
	<key>bottomRight</key>
	<dict/>
	<key>internalTilingNotified</key>
	<true/>
	<key>landscapeSnapAreas</key>
	<string>null</string>
	<key>lastVersion</key>
	<string>91</string>
	<key>launchOnLogin</key>
	<string>1</string>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>36</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>portraitSnapAreas</key>
	<string>null</string>
	<key>reflowTodo</key>
	<dict/>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>37</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<string>0</string>
	<key>todo</key>
	<string>2</string>
	<key>todoApplication</key>
	<string>md.obsidian</string>
	<key>todoMode</key>
	<string>0</string>
	<key>toggleTodo</key>
	<dict/>
	<key>topHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>40</integer>
		<key>modifierFlags</key>
		<integer>1835008</integer>
	</dict>
	<key>topLeft</key>
	<dict/>
	<key>topRight</key>
	<dict/>
</dict>
</plist>
