<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>last-analytics-stamp</key>
	<real>762351131.35870695</real>
	<key>last-selection</key>
	<dict>
		<key>Height</key>
		<real>297</real>
		<key>Width</key>
		<real>1080</real>
		<key>X</key>
		<real>183</real>
		<key>Y</key>
		<real>227.5</real>
	</dict>
	<key>last-selection-display</key>
	<integer>0</integer>
	<key>location</key>
	<string>~/Desktop/Capture</string>
	<key>location-last</key>
	<string>~/Desktop/Capture</string>
	<key>target</key>
	<string>file</string>
</dict>
</plist>
