<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleTextDirection</key>
	<true/>
	<key>NSForceRightToLeftWritingDirection</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9vazwDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAIA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAGFuZHJld3RydW9uZwQA
	AAABAQAAQ29kZQsAAAABAQAAcG9seWZhY3RvcnkABQAAAAEBAAB0ZXN0cwAAABQAAAAB
	BgAAEAAAACAAAAA0AAAAQAAAAFQAAAAIAAAABAMAAGVBAAAAAAAACAAAAAQDAADqjgAA
	AAAAAAgAAAAEAwAAa4MGAAAAAAAIAAAABAMAAIndKQAAAAAACAAAAAQDAAB53ikAAAAA
	ABQAAAABBgAAgAAAAJAAAACgAAAAsAAAAMAAAAAIAAAAAAQAAEHFmX5LgFzmGAAAAAEC
	AAACAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAwAAAAAAAAAE
	AAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
	BAMAAABQoRtzAAAACAAAAAAEAABBxqk/R4AAACQAAAABAQAAMUM3MUU1M0UtMUM1NC00
	NkZGLUE5RDgtNzkzM0EzRERGNkQ2GAAAAAECAACBAAAAAQAAAO8TAAABAAAA7xMAAAEA
	AAABAAAAAQEAAC8AAAAwAAAAAQIAAGRuaWIAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAHJkbGYCAAAAAAAAAPAAAAD+////AQAAAAAAAAATAAAABBAAAGQAAAAAAAAA
	BRAAANAAAAAAAAAAEBAAAPwAAAAAAAAAQBAAAOwAAAAAAAAAAiAAANABAAAAAAAABSAA
	AEABAAAAAAAAECAAAFABAAAAAAAAESAAAIQBAAAAAAAAEiAAAGQBAAAAAAAAEyAAAHQB
	AAAAAAAAICAAALABAAAAAAAAMCAAABwBAAAAAAAAAcAAACQBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAADQBAAAAAAAAAdAAABwBAAAAAAAAENAAAAQAAAAAAAAAF/AAAFQAAAAAAAAA
	IvAAANwBAAAAAAAA
	</data>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>320 214 800 448 0 0 1440 875 </string>
</dict>
</plist>
